.NoteCreator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;

    .content {
        width: 50%;

        Input {
            width: 100%;
        }
    }
}